@font-face {
  font-family: 'Folio xBd BT';
  src: url('/fonts/folioxbdbtextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Folio Bk BT';
  src: url('/fonts/foliobookbt.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'BankGothic Md BT';
  src: url('/fonts/bankGothicmdbt.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --color-core-cinza: #D0D0CE;

  --font-core: 'Folio xBd BT', ui-sans-serif, system-ui;
  --font-core-sub: 'Folio Bk BT', ui-sans-serif, system-ui;
  --font-core-apoio: 'BankGothic Md BT', ui-sans-serif, system-ui;

  --breakpoint-xs: 30rem;

}

#icone-navbar {
  height:  50px;
  width: auto;
}